<div *ngIf="responseList | async as responses; else loading;">
    <mat-tab-group>
        <mat-tab label="My Responses">
            <div class="card">
                <div class="card-body" *ngFor="let q of userResponses(responses)">
                    <h4 class="card-title">{{q.name}}</h4>
                    <i class="card-text">{{q.description}}</i>
                    <br><br>
                    <a class="mr-1" [routerLink]="['/response', q.id]" mat-raised-button color="primary">View</a>
                    <button (click)="remove(q.id)" mat-raised-button color="warn">Remove</button>
                </div>
                <div class="no-text" *ngIf="!userResponses(responses).length">
                    You don't have responses!
                </div>
            </div>
        </mat-tab>
        <mat-tab label="All Responses">
            <div class="card">
                <div class="card-body" *ngFor="let q of responses">
                    <h4 class="card-title">{{q.name}}</h4>
                    <i class="card-text">{{q.description}}</i><br><br>
                    <a [routerLink]="['/response', q.id]" mat-raised-button color="primary">View</a>
                </div>
                <div class="no-text" *ngIf="!responses.length">
                    No responses
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #loading>
    <mat-spinner class="loader-container"></mat-spinner>
</ng-template>
