<div class="card" *ngIf="questionnaire">
  <h3 class="card-header">{{questionnaire.name}}</h3>
  <div class="clearfix"><i class="mr-3 float-right">Saved on {{questionnaire.date | date:'fullDate'}} at {{questionnaire.date | date:'mediumTime'}}</i></div>
  <div *ngIf="questionsList | async as questions; else loading;">
    <div class="card-block" *ngFor="let q of questions">
      <p class="card-text">{{q.title}}</p>
      <question-type [question]="q"></question-type>
    </div>
    <br/>
    <div class="float-right">
      <a routerLink="/" class="btn btn-primary">Cancel</a>
      <button class="btn btn-success" (click)="submit(questions)">Submit</button>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="loader"></div>
</ng-template>