<div *ngIf="question">
    <div class="float-left" [ngSwitch]="question.type">
        <div *ngSwitchCase="'BOOLEAN'">
            <md-radio-group class="example-radio-group" [(ngModel)]="question.answer">
                <md-radio-button class="example-radio-button" [disabled]="readonly" 
                    *ngFor="let value of question.values"
                    [value]="value?.value">
                    {{value?.value}}
                </md-radio-button>
            </md-radio-group>
        </div>
        <div *ngSwitchCase="'MULTI_CHOICE_MULTI'">
            <section class="example-section" *ngFor="let value of question.values">
                <md-checkbox class="example-margin" [disabled]="readonly" 
                    [(ngModel)]="value.answer">{{value?.value}}</md-checkbox>
            </section>
        </div>
        <div *ngSwitchCase="'MULTI_CHOICE_SINGLE'">
            <md-radio-group class="example-radio-group" [(ngModel)]="answer">
                <md-radio-button class="example-radio-button" [disabled]="readonly" 
                    *ngFor="let value of question.values"
                    [value]="value?.value">
                    {{value?.value}}
                </md-radio-button>
            </md-radio-group>
        </div>
        <div *ngSwitchCase="'LONG_ANSWER'">
            <md-input-container *ngIf="!readonly">
                <textarea minRows="2" 
                    mdInput
                    [disabled]="readonly"
                    [(ngModel)]="question.answer"
                    required>
                </textarea>
            </md-input-container>
            <div *ngIf="readonly" class="long-answer-readonly"></div>
        </div>
        <div *ngSwitchCase="'SHORT_ANSWER'">
            <md-input-container *ngIf="!readonly">
                <input mdInput [disabled]="readonly" [(ngModel)]="question.answer">
            </md-input-container>
            <div *ngIf="readonly" class="short-answer-readonly">{{question.answer}}</div> 
        </div>
        <div *ngSwitchCase="'NUMERICAL'">
            <md-input-container *ngIf="!readonly">
                <input mdInput [disabled]="readonly" [(ngModel)]="question.answer">
            </md-input-container>
            <div *ngIf="readonly" class="short-answer-readonly">{{question.answer}}</div> 
        </div>
        <div *ngSwitchCase="'DATE_TYPE'">
            <material-datepicker *ngIf="!readonly" [(date)]="question.answer"></material-datepicker>
            <div *ngIf="readonly" class="short-answer-readonly">{{question.answer | date:'mediumDate'}}</div> 
        </div>
    </div>
    <div class="float-right" *ngIf="edit">
        <a href="" class="clickable" (click)="editQuestion($event)">Edit</a>
        <a href="" class="clickable" (click)="removeQuestion($event)">Remove</a>
    </div>
</div>
