<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div *ngIf="loggedUser" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>Hello, {{loggedUser}} <a href="" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="app-content">
  <router-outlet></router-outlet>
</div>
