<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>
    <a class="navbar-brand" routerLink="/">Questionnaire</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/manage" routerLinkActive="active">Manage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/responses" routerLinkActive="active">Responses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <div class="navbar-brand" *ngIf="loggedUser">Hello, {{loggedUser}} <a href="" (click)="logout()">Logout</a></div>
        </form>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <router-outlet></router-outlet>
    </div>
</div>