<a routerLink="/create" class="btn btn-primary">Create new</a><br/><br/>

<div *ngIf="questionnaireList | async as questionnaires; else loading;">
    <div class="card">
        <h3 class="card-header">Questionnaires</h3>
        <div class="card-block" *ngFor="let q of questionnaires">
            <h4 class="card-title">{{q.name}}</h4>
            <div *ngIf="q.description"><i class="card-text">{{q.description}}</i><br><br></div>
            <a *ngIf="isCurrentUser(q)" [routerLink]="['/manage', q.$key]" class="btn btn-primary">Edit</a>
            <button *ngIf="isCurrentUser(q)" (click)="remove(q.$key)" class="btn btn-primary">Remove</button>
        </div>
    </div>
</div>
<ng-template #loading>
    <div class="loader"></div>
</ng-template>