<div class="card">
    <div *ngIf="questionnaireList | async as questionnaires; else loading;">
        <mat-list>
            <h5 class="card-header" mat-subheader>
                List of questionnaires
                <mat-checkbox class="float-right" [(ngModel)]="showMine">Show only mine</mat-checkbox>
            </h5>

            <mat-list-item *ngFor="let q of filterQuestionnaires(questionnaires)">
                <mat-icon mat-list-icon>note</mat-icon>
                <h4 mat-line><b>{{q.name}}</b></h4>
                <i mat-line> {{q.date | date}}</i>
                <p mat-line *ngIf="q.description">
                    <i class="card-text">{{q.description}}</i>
                    <br>
                </p>
                <a [routerLink]="['/answer', q.id]" mat-button color="primary">Answer</a>
            </mat-list-item>
        </mat-list>
    </div>
</div>
<ng-template #loading>
    <mat-spinner class="loader-container"></mat-spinner>
</ng-template>
