<div class="card">
    <h3 class="card-header">List of questionnaires</h3>
    <div *ngIf="questionnaireList | async as questionnaires; else loading;">
        <div class="card-block" *ngFor="let q of questionnaires">
            <h4 class="card-title">{{q.name}}</h4>
            <div *ngIf="q.description"><i class="card-text">{{q.description}}</i><br><br></div>
            <a [routerLink]="['/answer', q.$key]" class="btn btn-primary">Answer</a>
        </div>
    </div>
</div>
<ng-template #loading>
    <div class="loader"></div>
</ng-template>