<h4 mat-dialog-title>
    Add New Question
    <button type="button" class="close" aria-label="Close" (click)="dialogRef.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</h4>
<div mat-dialog-content>
    <form #formQuestion="ngForm">
        <div class="response-types">
            <div class="response-type-container"
                [ngClass]="{disabled: responseTypesDisabled}"
                (click)="responseTypesDisabled || onResponseType(responseType, formQuestion)"
                *ngFor="let responseType of responseTypes">

                <div class="title" [ngClass]="{'active': responseType.active}">{{responseType.name}}</div>

                <div class="response-type" [ngClass]="{'active':responseType.active}">
                    <i [ngClass]="responseType.class" *ngIf="responseType.name!='Multipart'"></i>
                    <i [ngClass]="responseType.class" *ngIf="responseType.name=='Multipart'"></i>
                    <i [ngClass]="responseType.class" *ngIf="responseType.name=='Multipart'"></i>
                </div>
            </div>
        </div>
        <div class="question">
            <div class="row">
                <div class="col-md-6">
                   <span class="header">Question</span>
                </div>
                <div class="col-md-6" *ngIf="isChoiseQuestionType()">
                    <span class="header">Choices</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <textarea
                        name="title"
                        rows="3"
                        [(ngModel)]="question.title"
                        required></textarea>
                    <div *ngIf="formQuestion.$submitted">
                        <p class="red" ng-show="formQuestion.question.$error.maxlength">Maximum length (2000 characters) has been exceeded.</p>
                        <p class="red" ng-show="formQuestion.question.$error.required">Question field is required.</p>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="isChoiseQuestionType()">
                    <div class="choice mr20"
                        *ngFor="let choice of question.values; let i = index">
                        <input type="text" name="{{'choice_' + i}}"
                            class="form-control"
                            [(ngModel)]="choice.value"
                            required/>
                        <a class="clickable" (click)="question.values.splice(chKey,1)">X</a>
                    </div>

                    <div class="red" *ngIf="formQuestion.$submitted && isOptionsLess()">
                        <p>Can&apos;t be less than 2 options</p>
                    </div>
                    <div class="red" *ngIf="isQuestionDuplicate()">
                        <p>The same values are not allowed</p>
                    </div>
                    <div class="red" *ngIf="formQuestion.$submitted && isOptionsEmpty() && !isOptionsLess() && !isQuestionDuplicate()">
                        <p>Choices cannot be blank</p>
                    </div>
                    <input type="button"
                        class="btn btn-primary btn-sm"
                        *ngIf="!isFullConditional()"
                        (click)="addChoiceToQuestion()"
                        value="Add an answer choice" />
                </div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions class="float-right">
    <button type="button"
        mat-raised-button
        color="primary"
        class="mr-1"
        [ngClass]="{'btn-danger': formQuestion.form.invalid}"
        (click)="formQuestion.form.invalid ||save()">{{btnText}}</button>
    <button type="button" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
</div>
