<h1 md-dialog-title>Add New Question
    <button type="button" class="close" aria-label="Close" (click)="dialogRef.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</h1>
<div md-dialog-content>
    <div class="row">
        <md-input-container class="col-md-8">
            <input mdInput placeholder="Title" [(ngModel)]="question.title">
        </md-input-container>
    </div>
    <div class="row">
        <md-select class="ml-3 mt-2" 
            placeholder="Select question type" 
            [(ngModel)]="question.type"
            (change)="selectType()">
            <md-option *ngFor="let qType of qTypes" [value]="qType.code">{{ qType.name }}</md-option>
        </md-select>
    </div>
    <br><p *ngIf="question.values.length">Values:</p>
    <div class="row" *ngFor="let val of question.values" >
        <md-input-container class="col-md-8">
            <input mdInput placeholder="Value" [(ngModel)]="val.value">
        </md-input-container>
    </div>
    <button class="btn btn-sm btn-outline-primary" 
        ng-if="question.type"
        (click)="addValue()">Add value</button>
</div>
<div md-dialog-actions class="float-right">
    <button type="button" class="btn btn-sm btn-primary mr-1" (click)="dialogRef.close()">Cancel</button>
    <button type="button" class="btn btn-sm btn-success" (click)="save()">Add</button>
</div>
